In [ ]:
 sea = open("fishes.txt", 'r')   

print(sea.read(33))  # displays the first 33 chars of the text
print()
print(sea.read(25))  # displays the next 25 chars of the text
print()
sea.seek(0)  # changes the stream (cursor) position to zero
print(sea.read(33))  # displays the first 33 chars again
print()
print(sea.tell())  # returns the current stream (cursor) position

sea.close()

In [ ]:
Orca is a kind of Dolphin.
Blue W

hale is the largest anima

Orca is a kind of Dolphin.
Blue W

34

In [ ]:
sea = open("fishes.txt", 'r')   

print(sea.readline())  # displays the first line of the text
print(sea.readline())  # displays the second line
print(sea.readline())  # each time it goes to the new line

sea.close()

In [ ]:
Orca is a kind of Dolphin.

Blue Whale is the largest animal known on earth.

Sharks are the sister group to the Rays (batoids).

In [ ]:
\n alt satıra geçerken burayı karakter olarak almaz

In [ ]:
sea = open("fishes.txt", 'r')   

print(sea.readlines())

sea.close()
#readlines liste ıcıne atar

In [ ]:
['Orca is a kind of Dolphin.\n', 'Blue Whale is the largest animal known on 
earth.\n', 'Sharks are the sister group to the Rays (batoids).\n', 'The Tuna 
Fish can weigh up to 260 kg.\n', 'Squid and Octopus are in the same class.']

In [ ]:
sea = open("fishes.txt", 'r')   

for line in sea:
    print(line)

sea.close()

In [ ]:
Orca is a kind of Dolphin.

Blue Whale is the largest animal known on earth.

Sharks are the sister group to the Rays (batoids).

The Tuna Fish can weigh up to 260 kg.

Squid and Octopus are in the same class.

In [ ]:
with open("fishes.txt", "r") as sea:
    print(sea.read())  # needs indented code block

    # with open ile kapatmaya gerek yoktur

In [ ]:
fruits = ['Banana\n', 'Orange\n', 'Apple\n', 'Strawberry\n', 'Cherry\n']

with open("fruits.txt", 'w', encoding="utf-8") as file:
    file.writelines(fruits)  # takes an iterator for writing
   
with open("fruits.txt", 'r', encoding="utf-8") as file:
    print(file.read())

with open("fruits.txt", 'r', encoding="utf-8") as file:
    print(file.readlines())

In [ ]:
Banana
Orange
Apple
Strawberry
Cherry

['Banana\n', 'Orange\n', 'Apple\n', 'Strawberry\n', 'Cherry\n']